{% include "store/base.html" %} 

{% load static %}

{% load crispy_forms_tags %}

{% block content %}

<style>

  body {
    background-color: gray;
  }

  .form-layout {
    border-radius: 20px;
    width: 500px;
  }
  
</style>    

<body>
  <br />
  <div class="container bg-white shadow-md p-5 form-layout">
    <h3>Account Deletion</h3>
    
    <hr />

    <p>Are you sure you want to delete your account?</p>
    <p>This action cannot be undone.</p>

    <br />

    <form method="POST" autocomplete="off">
      {% csrf_token %} 
      
      <button
        type="submit"
        class="btn btn-danger navbar-btn text-white"
      >
        &nbsp; Delete your account &nbsp;
      </button>

      <br />
      <br />

      <a
        type="submit"
        class="btn btn-primary navbar-btn text-white"
        href="{% url 'profile-management' %}"
      >
      <i class="fa-solid fa-arrow-left"></i> &nbsp; Cancel and go back &nbsp;
      </a>

    </form>
      
      <br />
      <br />
    
  </div>
</body>
<br>
<br>
{% endblock content %}
