{% include "store/base.html" %} 

{% load static %}

{% load crispy_forms_tags %}

{% block content %}

<style>

  body {
    background-color: gray;
  }

  .form-layout {
    border-radius: 20px;
    width: 500px;
  }
  
</style>

<body>
  <br />
  <div class="container bg-white shadow-md p-5 form-layout">
    <h3>Login to your account</h3>
    
    <hr />
    <br />

    <form method="POST" autocomplete="off">
      {% csrf_token %} 
      {{ form.username|as_crispy_field }}
      <br />
      
      {{ form.password|as_crispy_field }}
      <br />
      
      <button
        type="submit"
        class="btn btn-primary navbar-btn text-white w-100 p-2"
      ><i class="fa-solid fa-key"></i>
        &nbsp; Login &nbsp;
      </button>
      <br />
      <br />

      {% if form.errors %}
      <div class="alert alert-danger" role="alert">
        {{ form.errors }}
      </div>
      {% endif %}
      {% if messages %}
      {% for message in messages %}
      <div class="alert alert-{{ message.tags }}" role="alert">
        {{ message }}
      </div>
      {% endfor %}
      {% endif %}
      <br />

      <div class="text-center">
        <a href="{% url 'register' %}">Don't have an account?</a>

        <br> <br>

        <a href="{% url 'reset_password' %}">Forgot your password?</a>

      </div>
    </form>
  </div>
</body>
<br>
<br>
{% endblock content %}
